/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@423&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;423&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;423&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;423&family=Saira+Condensed:wght@200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

html {
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
  box-sizing: border-box;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}

.button {
  font-size: 1.6rem;
}

.full-width {
  width: 100%;
}

#root {
  height: 100%;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 13rem 1fr 15rem; /* header main footer */
  height: 100%;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
  border-bottom-color: lightgrey;
  padding-top: 10px;
  padding-bottom: 30px;
  /* font-family: 'Roboto Mono', monospace; */
  /* font-family: 'Saira Condensed', sans-serif; */
  font-size: 20px;
  padding: 0.5rem;
  align-items: center;
}

.logo {
  padding-top: 10px;
  cursor: pointer;
}

.header-links a {
  color: black;
  font-size: 2rem;
  font-family: Helvetica;
  /* font-family: 'Roboto Mono', monospace; */
  text-decoration: none;
  padding-right: 30px;
}

.header-links a:hover {
  color: #45b244;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  /* border: 1px solid white; */
  border-top-color: lightgrey;
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: #52524f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* Easy Eat */
a {
  text-decoration: none;
  color: black;
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.products li {
  list-style-type: none;
  flex: 0 1 34rem;
  margin: 2rem;
  padding: 1.5rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-image {
  max-width: 20rem;
  max-height: 20rem;
}

.product-name {
  font-size: 1.8rem;
  font-weight: bold;
  list-style-type: none;
  text-decoration: none;
  color: black;
}

.price {
  font-size: 1.5rem;
  /* font-weight: bold; */
}

a:hover {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}
