/* Our Story */

.story-body {
  width: 100%;
  height: 300px;
}

.left-content {
  width: 50%;
  float: left;
  box-sizing: border-box;
}

.right-content {
  width: 50%;
  float: right;
  box-sizing: border-box;
}

.inner-content {
  max-width: 770px;
  margin: auto;
  width: 70%;
  padding: 38x 0 105px;
}

.inner-content .main-title {
  padding-bottom: 32px;
  text-align: center;
  margin-top: 40px;
}

h2 span {
  font-size: 0px;
  line-height: 30px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 40px;
}

h4 {
  font-size: 28px;
  font-family: 'IBM Plex Mono', monospace;
}

.entry h4 {
  margin-top: -10px;
  font-family: 'IBM Plex Mono', monospace;
}

.inner-content .entry h4 {
  padding-bottom: 15px;
  line-height: 36px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 20px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: 'IBM Plex Mono', monospace;
}

.bg {
  margin: 13px;
  margin-left: 80px;
}

/* Contact */

.contact-body {
  width: 100%;
  height: 300px;
}

.contact-left-content {
  width: 50%;
  float: left;
  box-sizing: border-box;
}

.contact-right-content {
  width: 50%;
  float: right;
  box-sizing: border-box;
}

.contact-title {
  font-size: 40px;
  font-family: 'IBM Plex Mono', monospace;
  padding-bottom: 20px;
}

.contact-inner-content {
  max-width: 770px;
  margin: auto;
  width: 70%;
  padding: 38x 0 105px;
  font-size: 20px;
  font-family: 'IBM Plex Mono', monospace;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 20px;
}

.contact-bg {
  margin: 30px;
  margin-left: 230px;
}
