/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@423&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;423&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;423&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;423&family=Saira+Condensed:wght@200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

html {
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
  box-sizing: border-box;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

.button {
  font-size: 1.6rem;
}

.full-width {
  width: 100%;
}

#root {
  height: 100%;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 13rem 1fr 15rem; /* header main footer */
  height: 100%;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
  border-bottom-color: lightgrey;
  padding-top: 10px;
  padding-bottom: 30px;
  /* font-family: 'Roboto Mono', monospace; */
  /* font-family: 'Saira Condensed', sans-serif; */
  font-size: 20px;
  padding: 0.5rem;
  align-items: center;
}

.logo {
  padding-top: 10px;
  cursor: pointer;
}

.header-links a {
  color: black;
  font-size: 2rem;
  font-family: Helvetica;
  /* font-family: 'Roboto Mono', monospace; */
  text-decoration: none;
  padding-right: 30px;
}

.header-links a:hover {
  color: #45b244;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  /* border: 1px solid white; */
  border-top-color: lightgrey;
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: #52524f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* Side bar */
.brand button {
  font-size: 5rem;
  padding: 0.5rem;
  padding-bottom: 5rem;
  background: none;
  border: none;
}

.sidebar {
  position: fixed;
  transition: all 0.5s;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: whitesmoke;
  height: 100%;
}

.sidebar li {
  list-style-type: none;
  font: 2.5rem monospace;
  margin-left: 60px;
  margin-top: 30px;
}

.sidebar h3 {
  font: 2.1rem Helvetica;
  font-weight: bold;
  margin-left: 40px;
  margin-top: 15px;
}

.sidebar.open {
  transform: translate(0);
}

.sidebar-close-button {
  border-radius: 50%;
  border: 0.5rem palegoldenrod;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
}

/* table */
.table {
  font-size: 20px;
}

.register {
  font-size: 20px;
}

.register-container {
  margin-top: 25px;
  margin-bottom: 25px;
}

.register input {
  font-size: 15px;
}

.register button {
  font-size: 15px;
  margin-top: 15px;
}

/* member detail */
.detail label {
  color: blue;
}

/* Checkout Steps */

.checkout-steps {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin: 1rem auto;
}
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1 1;
  padding-top: 1rem;
}
.checkout-steps > div.active {
  border-top: 0.3rem #f08000 solid;
  color: #f08000;
}

/* Order */

.placeorder {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-between;
}
.placeorder-info {
  flex: 3 1 60rem;
}
.placeorder-action {
  flex: 1 1 20rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
}
.placeorder-info > div {
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
  margin: 1rem;
}
.placeorder-info > div:first-child {
  margin-top: 0;
}
.placeorder-action > ul {
  padding: 0;
  list-style-type: none;
}
.placeorder-action > ul > li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.placeorder-action > ul > li:last-child {
  font-size: 2rem;
  font-weight: bold;
  color: #c04000;
}
.placeorder-actions-payment > div {
  width: 100%;
}

/* Profile */

.profile {
  display: flex;
  flex-wrap: wrap;
}

.profile-info {
  flex: 1 1 30rem;
}
.profile-orders {
  flex: 3 1 60rem;
}

/* admin */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  padding: 1rem;
  list-style-type: none;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* filter */

.filter {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 1rem auto;
  max-width: 45rem;
  justify-content: space-between;
  align-items: center;
}
.filter input,
.filter button,
.filter select {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #c0c0c0 solid;
  font-size: 1.6rem;
}
.categories {
  padding: 0;
  list-style-type: none;
}
.categories a {
  display: flex;
  padding: 1rem;
}

.categories a:hover {
  background-color: #c0c0c0;
}
